[submodule "Circuit/subs/ESP32-kiCAD-Footprints"]
	path = Circuit/subs/ESP32-kiCAD-Footprints
	url = https://github.com/adamjvr/ESP32-kiCAD-Footprints.git
[submodule "Circuit/subs/freetronics_kicad_library"]
	path = Circuit/subs/freetronics_kicad_library
	url = git@github.com:freetronics/freetronics_kicad_library.git
[submodule "Circuit/subs/kicad-ESP8266"]
	path = Circuit/subs/kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266.git
